.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background:#dddde0
}
/* .bg-pan-left{
    animation:color-change-2x 2s linear infinite alternate both;
}
@keyframes color-change-2x{
    0%{background:#19dcea}
    100%{background:#b22cff}
} */
