.divActivities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:30px;
    text-align: center;
}

.titleAct{
    font-size:40px;
    color:rgb(112, 18, 18);
    text-align: center;
}

.divTitle{
    padding:40px;
}

.actContainer{
    background-color: antiquewhite;
}