.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nameLink {
  text-decoration: none;
  color: #000000;
}

.image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}